*
!.gitignore
!nvim/lua/plugins/*
!nvim/lua/*
!nvim/*
!nvim/
!fish/config.fish
!fish/
!fastfetch/*
!fastfetch/
!Kvantum/*
!Kventum/
!hypr/*
!hypr/
!hypr/modules/*
!kitty/*
!kitty/
!lazygit/*
!lazygit/
!nwg-look/*
!nwg-look/
!waybar/*
!waybar/modules/*
!waybar/modules/spotify/*
!waybar/
!wofi/*
!wofi/
!quickshell/*
!quickshell/
