*
!.gitignore
!nvim/*
!nvim/
!fish/config.fish
!fish/
!fastfetch/*
!fastfetch/
!Kvantum/*
!Kventum/
!hypr/*
!hypr/
!kitty/*
!kitty/
!lazygit/*
!lazygit/
!nwg-look/*
!nwg-look/
!waybar/*
!waybar/
!wofi/*
!wofi/

