*
!.gitignore
!nvim/lua/plugins/*
!nvim/lua/*
!nvim/*
!nvim/
!fish/config.fish
!fish/
!fastfetch/*
!fastfetch/
!Kvantum/*
!Kventum/
!hypr/*
!hypr/
!hypr/modules/*
!kitty/*
!kitty/
!lazygit/*
!lazygit/
!nwg-look/*
!nwg-look/
!waybar/*
!wofi/*
!wofi/
!quickshell/*
!quickshell/
!quickshell/mixer/*
!quickshell/mixer/
!quickshell/audio/*
!quickshell/audio/
!quickshell/power/*
!quickshell/power/
!quickshell/bar/*
!quickshell/searcher/*
