@define-color dark1 #2e3440;
@define-color dark2 #3b4252;
@define-color dark3 #434c5e;
@define-color dark4 #4c566a;
@define-color light1 #d8dee9;
@define-color light2 #e5e9f0;
@define-color light3 #eceff4;
@define-color blue1 #8fbcbb;
@define-color blue2 #88c0d0;
@define-color blue1 #81a1c1;
@define-color blue4 #5e81ac;
@define-color red #bf616a;
@define-color orange #d08770;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color purple #b48ead;


* {
        border: none;
        min-height: 0;
        font-family: "iosevka nerd font", "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        border-radius: 10px;
}

window#waybar {
        background: @dark1;
        border: 3px solid @dark2;
}

tooltip {
        background-color: @dark1;
        border: 2px solid @dark2;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#custom-weather,
#window,
#pulseaudio {
        margin: 6px 6px 6px 0px;
        padding: 2px 8px;
}

#window,
#workspaces {
        background-color: @dark2;
        margin: 6px 0px 6px 6px;
        border: 2px solid @dark1;
}

#window {
        color: @blue1;
}

#custom-arch {
        margin: 6px 4px 6px 10px;
        color: @blue1;
}

#workspaces button {
        all: initial;
        min-width: 0;
        box-shadow: inset 0 -3px transparent;
        padding: 2px 4px;
        color: @blue1;
        margin: 0px 2px;
        border-radius: 10px;
}

#workspaces button.active,
#workspaces button.focused {
        background-color: @dark4;
}


#workspaces button.urgent {
        background-color: @red;
}

#custom-weather,
#clock {
        background-color: @dark2;
        color: @blue1;
}

#cpu,
#memory,
#network,
#pulseaudio {
        min-width: 50px;
        color: @blue1;
}


#cpu.critical,
#memory.critical {
        color: @red;
}

#battery.warning,
#battery.critical,
#battery.urgent {
        color: @red;
}
