* {
        min-height: 0;
        min-width: 0;
        font-family: "iosevka nerd font", "Noto Sans", sans-serif;
        font-size: 15px;
        font-weight: 500;
}

window#waybar {
        background-color: rgba(40, 50, 60, 0.55);
        color: #ffffff;
        border-radius: 0px;
        border: 1px solid rgba(40, 50, 60, 0.4);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        transition: background-color 0.5s, border 0.5s;
}

#workspaces button {
        padding: 0.3em 0.6em;
        margin: 0px 0px;
        border-radius: 0px;
        background: rgba(255, 255, 255, 0.18);
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: #e0e0e0;
        transition: background 0.3s, color 0.3s;
}

#workspaces button:hover {
        background: rgba(120, 180, 255, 0.5);
        color: rgba(255, 255, 255, 1.0);
        text-shadow: none;
}

#workspaces button.active {
        background: rgba(120, 180, 255, 0.4);
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.3);
}

#workspaces button.urgent {
        background: rgba(255, 80, 80, 0.5);
        color: #ffffff;
}

#clock,
#pulseaudio,
#custom-hyprsunset,
#custom-arch,
#custom-power,
#custom-spotify,
#custom-cmus,
#custom-menu,
#custom-screenshot,
#custom-weather,
#mpd,
#custom-night,
#cpu,
#temperature,
#network,
#tray,
#memory,
#window {
        padding: 0.3em 0.6em;
        border-radius: 0px;
        margin: 0px 0px;
        background: rgba(40, 50, 60, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.2);
}

#custom-menu:hover {
        background: rgba(120, 180, 255, 0.25);
        color: #ffffff;
}

#custom-menu {
        padding-left: 13px;
}

#custom-sep {
        padding: 0px;
        color: #a0a0a0;
}

#network {
        color: #ffffff;
}

#cpu {
        color: #ffffff;
}

#temperature {
        color: #ffffff;
}

#memory {
        color: #ffffff;
}

#custom-weather,
#custom-hyprsunset,
#clock {
        color: #ffffff;
}



#window {
        color: #ffffff;
}

#pulseaudio {
        color: #ffffff;
}

#pulseaudio.muted {
        color: #ffffff;
}

#custom-arch {
        color: #ffffff;
        padding-left: 13px;
        padding-right: 14px;
}

#custom-power {
        color: #ffffff;
        font-size: 14px;
}

#mpd {
        color: #ffffff;
}
