window {
        background: rgb(29, 32, 33);
        border: 2px solid #3c3836;
        border-radius: 4px;
}

#box {
        /* Define attributes of the box surrounding icons here */
        padding: 2px
}

#active {
        background-color: rgb(124, 111, 100);
}

button,
image {
        background: none;
        border-style: none;
        box-shadow: none;
        color: rgb(102, 92, 84)
}

button {
        padding: 4px;
        margin-left: 4px;
        margin-right: 4px;
        color: rgb(102, 92, 84);
        font-size: 12px
}

button:focus {
        box-shadow: none;
}
