window {
        background-color: rgba(40, 50, 60, 0.55);
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        transition: background-color 0.5s, border 0.5s;
}

#active {
        background-color: rgba(120, 180, 255, 0.4);
}

button,
image {
        background: none;
        border-style: none;
        box-shadow: none;
}

button {
        font-size: 12px
}

button:focus {
        box-shadow: none;
}
