@define-color blue1 #8fbcbb;

* {
        font-family: "JetBrains Mono Nerd Font"
}

window {
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.5);
}

#input {
        border: none;
        padding-left: 8;
        background: transparent;
        box-shadow: none;
        color: @blue1;
}

#inner-box {
        border: none;
        background-color: transparent;
}

#outer-box {
        border: none;
        background-color: transparent;
}

#scroll {
        margin: 0px;
        border: none;
}

#text {
        border: none;
        color: @blue1;
}

#entry:selected {
        background-color: rgba(0, 0, 0, 0.2);
}
